development:
  clients:
    default:
      database: test_database
      hosts:
        - mongodb:27017
      options:
        raise_not_found_error: false

test:
  sessions:
    default:
      database: trading_strategy_statistics_test
      hosts:
        - localhost:27017
      options:
        read: primary
        max_retries: 1
        retry_interval: 0
