<h1>Strategy Description</h1>
<table class="table table-hover table-condensed">
  <tr>
    <th>Trade list</th>
    <td><%= @get_description[:trade_list_url] %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @get_description[:name] %></td>
  </tr>
  <tr>
    <th>Parameter list</th>
    <td><%= @get_description[:parameter_list] %></td>
  </tr>
</table>